
 .hosst{
    min-height: 100vh;
    background-color: #F3F5F7;
 }
.title{
   color: rgba(28, 28, 40, 1);
   font-weight: 600;
   font-size: 1.125rem;
}

.pi-arrow-right{
   background-color: rgba(231, 234, 237, 1);
   color: rgba(41, 45, 50, 1);
font-size: .8125rem;
}
.pi-pen-to-square{
   color: rgba(138, 116, 249, 1);
}
.edit{
   font-weight: 500;
   font-size: .875rem;
}
