.cursor-pointer{
    cursor: pointer;
}
body {
    font-family: "Noto Sans Arabic", sans-serif !important;  
  }
  
  h1, h2, h3, h4, h5, h6,span,p,th,td {
    font-family: "Noto Sans Arabic", sans-serif !important;
  }
 